#includedContent {
    height: 100%; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    position: relative;
}

#legend {
    color: white;
    font-size: large;
    cursor: pointer;
    margin-left: 5px;
}

#drawer-but {
    font-size: medium;
    margin-left: 2%;
    background-color: rgb(57, 56, 56);
    color: white;

}

#button1 {
    background-color: green; 
    cursor: auto;
    color: white;
    font-size: large;
    width: 80%;
    height: 30%;
    padding: 5% 5%;
    margin: 2% 0% 1% 0%;
    border: none;
}

#button2 {
    background-color: rgb(229, 219, 36); 
    cursor: auto;
    color: white;
    font-size: large;
    width: 80%;
    height: 20%;
    padding: 5% 5%;
    margin: 1% 0%;
    border: none;
}
#button3 {
    background-color: rgb(247, 169, 13); 
    cursor: auto;
    color: white;
    font-size: large;
    width: 80%;
    height: 20%;
    padding: 5% 5%;
    margin: 1% 0%;
    border: none;
}
#button4 {
    background-color: rgb(243, 66, 12);
    cursor: auto;
    color: white; 
    font-size: large;
    width: 80%;
    height: 20%;
    padding: 5% 5%;
    margin: 1% 0%;
    border: none;
}
#button5 {
    background-color: rgb(98, 10, 111); 
    cursor: auto;
    color: white;
    font-size: large;
    width: 80%;
    height: 20%;
    padding: 5% 5%;
    margin: 1% 0%;
    border: none;
}
#button6 {
    background-color: rgb(108, 111, 108); 
    cursor: auto;
    color: white;
    font-size: large;
    width: 80%;
    height: 20%;
    padding: 5% 5%;
    margin: 1% 0%;
    border: none;
}

#search-bar {
    font-size: large;
    width: 80%;
    height: 20%;
    padding: 5% 5%;
    margin: 5% 0%;
    border: none;
    border-radius: 20px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


